@import "./variables.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: transparent;
  background-image: url("../../public/assets/images/light_bg.jpg");
  color: var(--color-text);
}

input,
button {
  font-family: inherit;
}

button {
  cursor: pointer;
}
